{% extends 'base.html' %}

{% block content %}
<style>
#pageSelect {
    margin-left: 10px;
    padding: 5px;
    font-size: 16px;
}
.page-link {
    padding: 8px 16px;
    margin: 0 2px;
    font-size: 14px;
}
.page-link.active {
    background-color: #007bff;
    color: white;
    border-radius: 4px;
}
.page-item a:hover {
    text-decoration: none;
    background-color: #0056b3;
    color: white;
    border-radius: 4px;
}
</style>

<div class="mt-2">
    <h1 class="d-inline">블로그 목록</h1>
    <a href="{% url 'blog:create' %}" class="float-end btn btn-primary">글 작성</a>
</div>

{% if object_list %}
    {% for blog in object_list %}
        <div class="my-2">
            <a href="{% url 'blog:detail' blog.pk %}" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
                No. {{ blog.id }} [{{ blog.get_category_display }}] {{ blog.title }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span>작성자: {{ blog.author.username }}</span> - <small>{{ blog.created_at | date:"Y-m-d"}}</small>
            </a>
        </div>
    {% endfor %}
{% else %}
    <p>검색 결과가 없습니다.</p>
{% endif %}

<form method="get" class="my-3 d-flex">
    <input class="form-control-sm ms-2" name='q' type="text" placeholder="검색어를 입력하세요." value="{% if request.GET.q %}{{ request.GET.q }}{% endif %}">
    <button class="btn btn-sm btn-info ms-2">검색</button>
</form>

{%  include 'pagination.html' %}
{% endblock %}
