{% extends 'base.html' %}
{% block content %}
<div class="mt-2 d-flex justify-content-between">
    <h1>[{{ blog.get_category_display }}] {{ blog.title }}</h1>
        {% if request.user == blog.author or request.user.is_superuser %}
            <div>
                <a class="btn btn-secondary" href="{% url 'blog:update' blog.pk %}">
                    수정
                </a>
                &nbsp;
                <form action="{% url 'blog:delete' blog.pk %}" method="POST" style="display: inline-block;" onclick="return confirm('정말 삭제하시겠습니까?');">
                    {% csrf_token %}
                    <button class="btn btn-danger">삭제</button>
                </form>
            </div>
        {% endif %}
</div>

<div style="text-align: right">
    작성자: {{ blog.author.username }}
</div>
    <hr>
    {% if blog.image %}
    <img src="{{ blog.image.url }}" alt="" class="w-100">
    {% endif %}
    <p>{{ blog.content | safe }}</p>

    <hr>
        {% if request.user.is_authenticated %}
        <form method="post" action="{% url 'blog:comment_create' blog.pk %}">
            {% csrf_token %}
            {{ comment_form.as_p }}
            <div class="text-end">
                <button class="btn btn-primary">댓글 작성</button>
            </div>
        </form>
        {% endif %}

    <div class="mb-2" id="comment_wrapper">
        {% for comment in object_list %}
            <div class="border-bottom">
                {{ comment.content }}
                <p class="text-end">
                    <small>{{ comment.author.username }} | {{ comment.created_at | date:'Y-m-d H:i' }}</small>
                </p>
            </div>
        {% endfor %}
    </div>

    {% include 'pagination.html' with fragment='comment_wrapper' %}

    <hr>
    <a class="btn btn-info" href="{% url 'blog:list' %}">목록</a>
{% endblock %}