{% extends 'base.html' %}

{% block title %}Todo List{% endblock %}

{% block content %}


    <h1>{% if request.user.is_authenticated %}{{ request.user.username }}의{% endif %} Todo List</h1>
{# to_do_list 10개 씩 노출 #}
    <ul>
        {% if request.user.is_authenticated %}
            <div class="d-flex justify-content-end">
                <a class="btn btn-secondary justify-content-end " href="{% url 'cbv_todo_create' %}">Todo 생성</a>
            </div>
            {% for todo in page_obj %}
                <li>
                    <span>{{ todo.title }}</span>
                    <a href="{% url 'cbv_todo_info' todo.id %}">Details</a>
                    | 작성자: {{ todo.author }}
                </li>
            {% empty %}
                <li>항목이 없습니다.</li>
            {% endfor %}
        {% else %}
            <li>회원가입 또는 로그인을 진행해주세요.</li>
        {% endif %}
    </ul>
    {% include 'pagination.html' %}
    <div class="d-flex justify-content-center">
        <form method="get">
        <a>제목 또는 본문을 검색:
            <label>
                <input name='q' type="text" placeholder="검색어를 입력하세요." value="{% if request.GET.q %}{{ request.GET.q }}{% endif %}">
            <button>검색</button>
            </label>
        </a>
        </form>
    </div>
{% endblock %}


