{% load static %}
{% load custom_tag %}
<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <title>Pystagram</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <meta name="viewport" content="width-device-width, initial-scale=1">
    <link href="{% static 'font-awesome/css/fontawesome.css' %}" rel="stylesheet" />
    <link href="{% static 'font-awesome/css/brands.css' %}" rel="stylesheet" />
    <link href="{% static 'font-awesome/css/solid.css' %}" rel="stylesheet" />
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
    {% block style %}{% endblock %}
</head>
<body>
<nav class="d-flex justify-content-between py-2 px-4 bg-black text-white fixed-top">
    <div>
        <a href="{% url 'main' %}" class="btn btn-dark btn-sm">Pystagram</a>
        <a href="http://localhost:8000/admin/" class="btn btn-dark btn-sm">admin page</a>
    </div>
    <div class="text-end">
{#    로그인 했을 때#}
        {% if request.user.is_authenticated %}
            <div>
                <a href="{% url 'profile:detail' request.user.nickname %}" class="me-2 btn btn-dark btn-sm">{{ request.user.nickname }}</a>
                <a class="btn btn-sm btn-info" href="{% url 'create' %}">새 글 작성</a>
            
            <form action="{% url 'logout' %}" method="POST" class="d-inline ms-2">
            {% csrf_token %}
            <button class="btn btn-dark btn-sm">로그아웃</button>
            </form>
            </div>
{#    로그인 안되어 있을 떄#}
            {% else %}
                <a class="btn btn-dark btn-sm" href="{% url 'signup' %}">회원가입</a>
                <a class="btn btn-dark btn-sm" href="{% url 'login' %}">로그인</a>
        {% endif %}
    </div>
</nav>
<div class="container pt-3">
    {% block content %}{% endblock %}

</div>

<script src="{% static 'js/bootstrap.bundle.js' %}"></script>
{% block js %}{% endblock %}
</body>
</html>